
<!DOCTYPE html>
<html xmlns:th="htpp://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Verify Email - Pharmazy</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/verify.css">
    <link rel="stylesheet" href="assets/styles.css">
</head>

<body>
   
   <div>
	   <div class="highlight-clean">
	        <div class="container">
	            <div class="intro">
	                <h2 class="text-center">Email Verified✅</h2>
	                <p class="text-center">Congrats !! Email is verified </p>
	            </div>
			<div class="buttons"><a class="btn btn-primary" role="button" href="/">Go to Dashboard</a></div>       
			 </div>
	   </div>
	</div>
  
   	

	
	
	
   	

    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script id="bs-live-reload" data-sseport="63820" data-lastchange="1573561751788" src="/js/livereload.js"></script>
</body>

</html>